
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content:end;
}

.header li{
    display: flex;
    justify-content: center;
    text-align: center;
}

.header ul li a{
    list-style: none;
    


}
a{
    text-decoration: none;
    list-style: none;
    display: flex;

}
